body {
  background: white;
  font-family: 'Quicksand', sans-serif;
}

.resize {
  width: 100%;
  height:auto;
  padding-bottom: 20pt;
}

.resize-about {
  width: 100%;
  height: auto;
  padding-top: 20pt;
  padding-bottom: 30pt;
}

.button-alignments {
  width: 100%;
  /*font-family: serif;*/
  font-style: normal;
  color: aliceblue;
}

.button-alignments-yellow {
  width: 100%;
  /*font-family: serif;*/
  font-style: normal;
  background-color: rgb(253, 185, 19);
  color: aliceblue;
}

.button-alignments-green {
  width: 100%;
  /*font-family: serif;*/
  font-style: normal;
  background-color: rgb(0, 106, 68);
  color: aliceblue;
}

.button-alignments-red {
  width: 100%;
  /*font-family: serif;*/
  font-style: normal;
  background-color: rgb(193, 39, 45);
  color: aliceblue;
}

.about-text {
  font-family: serif;
  text-align: center;
}

.end-text {
  text-align: center;
  color: black;
}

.img-circle {
    border-radius: 50%;
    width: 50pt;
    vertical-align: middle;
    margin-bottom: 5pt;
    margin-right: 10pt;
}

.special-buttons {
  background-color: rgb(255, 255, 255);
  color: black;
}
